
ion-content{
    --ion-background-color: url(/assets/img/fondo.jpg) no-repeat center center / cover;
    
}

ion-card{
    --ion-background-color: rgba(148, 148, 148, 0.651);
}

.glass-content {
/* From https://css.glass */
    background: rgba(44, 44, 44, 0.548);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.432);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(15.1px);
    width: 100%;
    min-height: 100vh;
}

.card-container{
    margin-top: 5%;
    padding-bottom: 2%;
}

.label-container{
    color: white;
    font-weight: bolder;
}


.logo{
    max-width: 50%;
    opacity: 95%;
    margin-top: 5%;
  }