<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido a PetLook
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="uno">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="dos">
        <ion-icon name="search"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tres">
        <ion-icon name="paw-sharp"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>